Cosine Similarity = A.B/||A||||B||  i.e. A multiply by B divided by magnitude of A and Magnitude of B

Colsine Similarity = ||A||||B|| * Cos(theta) / ||A||||B||  i.e. Cos(theta)

Cos Similarity = 1 (When arrow lines are facing the same direction )
Cos Similarity = 0 (When arrow lines are 90 degree apart)
Cos Similarity = -1 (When arrow lines are 180 degree apart) 

Cosine Distance = 1 - Cosine Similarity

In [1]:
import sklearn

In [2]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [3]:
cosine_similarity([[3,1]], [[6,2]])

array([[1.]])

In [5]:
cosine_distances([[3, 1]], [[6, 2]])

array([[1.11022302e-16]])

In [7]:
import pandas as pd

df = pd.DataFrame([
    {'iphone': 3, 'galaxy':1},
    {'iphone': 2, 'galaxy': 0},
    {'iphone': 1, 'galaxy': 3},
    {'iphone': 1, 'galaxy':2}
],
                  index = [
                      'doc1',
                      'doc2',
                      'doc3',
                      'doc4'
                  ]
                 )
df

      iphone  galaxy
doc1       3       1
doc2       2       0
doc3       1       3
doc4       1       2

In [11]:
df.loc['doc1':'doc1']

      iphone  galaxy
doc1       3       1

In [12]:
cosine_similarity(df.loc['doc1':'doc1'], df.loc['doc2':'doc2'])

array([[0.9486833]])

In [13]:
cosine_similarity(df.loc['doc1':'doc1'], df.loc['doc3':'doc3'])

array([[0.6]])

In [17]:
x = cosine_similarity(df.loc['doc3':'doc3'], df.loc['doc4':'doc4'])

In [18]:
y = cosine_distances(df.loc['doc3':'doc3'], df.loc['doc4':'doc4'])

In [19]:
x + y

array([[1.]])